<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="rep.actions"
         name="Actions"
         point="org.talend.core.repositoryContextualsActions">
     
      <Action
            class="org.talend.sdi.repository.ui.actions.metadata.CreateSpatialVectorAction"
            id="org.talend.sdi.repository.actions.createSpatialVector"
            isEditAction="true"
            isReadAction="true"
            level="10"
            name="Metadata/Create spatial vector resource">
      </Action>
   </extension>
   <extension
         point="org.talend.core.repository.repository_node_provider">
       <repositoryNode
             alias="%repository.metadataFileOGR.alias"
             folder="metadata/spatialVectorFile"
             isResouce="true"
             key="repository.metadataSpatialVectorFile"
             label="Spatial vector file"
             ordinal="47"
             parentNodeType="METADATA"
             products="DI"
             type="METADATA_SPATIAL_FILE_VECTOR">
       </repositoryNode>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
         
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.sdi.repository.metadata.content.MetadataSpatialVectorFileContentProvider"
            icon="icons/spatialVectorFile.gif"
            id="org.talend.repository.viewer.metadata.spatialVectorFile"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Vector file"
            priority="higher">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isMetadataTopNode">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isSpatialVectorFile">
                  </test>
               </or>
            </and>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        property="org.talend.repository.node.metadata.isSchema">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isSchemaColumn">
                  </test>
                  <test
                        property="org.talend.repository.node.metadata.isSpatialVectorFile">
                  </test>
               </or>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.metadata.action.MetedataNodeActionProvier"
               id="org.talend.sdi.repository.actions.createSpatialVectorFile">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.metadata.isSpatialVectorFile">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
</plugin>
