<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.talend.rcp.perspective">
         <actionSet
               id="net.refractions.udig.project.ui.layer.menu">
         </actionSet>
         <actionSet
               id="net.refractions.udig.project.ui.LayerActions">
         </actionSet>
         <actionSet
               id="net.refractions.udig.project.ui.map.menu">
         </actionSet>
         <actionSet
               id="net.refractions.udig.catalog.ui.data.menu">
         </actionSet>
      </perspectiveExtension>
   </extension>
</plugin>
