<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.routines_provider">
      <RoutinesProvider
            class="org.talend.sdi.designer.routines.SdiRoutinesProviderCreator">
      </RoutinesProvider>
   </extension>
	<extension
         point="org.talend.core.systemRoutineLibrary">
      <systemRoutine
            name="GeometryOperation">
         <library
               name="org.talend.sdi.jar">
            <bundleId
                  bundleId="">
            </bundleId>
         </library>
         <library
               name="jts-1.12.jar">
            <bundleId
                  bundleId="">
            </bundleId>
         </library>
      </systemRoutine>
      <systemRoutine
            name="GeoOperation">
         <library
               name="org.talend.sdi.jar">
            <bundleId
                  bundleId="">
            </bundleId>
         </library>
         <library
               name="jts-1.12.jar">
            <bundleId
                  bundleId="">
            </bundleId>
         </library>
      </systemRoutine>
      <systemRoutine
            name="GeometryUtility">
         <library
               name="org.talend.sdi.jar">
            <bundleId
                  bundleId="">
            </bundleId>
         </library>
         <library
               name="jts-1.12.jar">
            <bundleId
                  bundleId="">
            </bundleId>
         </library>
         <library
               name="gt-xsd-core-8.5.jar">
            <bundleId
                  bundleId="">
            </bundleId>
         </library>
      </systemRoutine>
   </extension>
</plugin>
