<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.java_type">
      <JavaType
            Name="org.talend.sdi.geometry.Geometry"
            displayInContext="true"
            nullableClass="org.talend.sdi.geometry.Geometry">
         <DbMapping
               mapping_id="postgres_id">
            <DbType
                  DbType="GEOMETRY"
                  default="true"
                  ignoreLen="true"
                  ignorePre="true">
            </DbType>
         </DbMapping>
         <DbMapping
               mapping_id="oracle_id">
            <DbType
                  DbType="MDSYS.SDO_GEOMETRY"
                  default="true"
                  ignoreLen="true"
                  ignorePre="true">
            </DbType>
            <DbType
                  DbType="SDO_GEOMETRY"
                  default="false"
                  ignoreLen="true"
                  ignorePre="true">
            </DbType>
         </DbMapping>
      </JavaType>
   </extension>
   <extension point="org.talend.core.runtime.librariesNeeded">
       <libraryNeeded
           context="plugin:org.talend.libraries.sdi"
           language="java"
           message="Needed for Talend Spatial Component"
           name="org.talend.sdi.jar" 
           mvn_uri="mvn:org.talend.libraries/org.talend.sdi/7.3.2"
           required="false">
       </libraryNeeded>
   </extension>
</plugin>
