<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.java_type">
      <JavaType
            Name="org.talend.sdi.geometry.Geometry"
            displayInContext="true"
            nullableClass="org.talend.sdi.geometry.Geometry">
         <DbMapping
               mapping_id="postgres_id">
            <DbType
                  DbType="GEOMETRY"
                  default="true">
            </DbType>
         </DbMapping>
      </JavaType>
   </extension>

</plugin>
